.sectionImagen {
    background-image: url('../../../public/images/F_3.jpg');
    height: 650px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}