.sectionImagen {
    background-image: url('../../../public/images/F_3.jpg');
    height: 600px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 600px) {
    .sectionImagen {
        background-image: url('../../../public/images/F_Movil.jpg');
        background-size: 100% 100%;
        height: 337px;

    }
}